body{
    background-image: url(./I\ 2.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;


}
.para1{
    margin-top: 80px;
    text-align: center;
    padding: 60px;
    color: black;
}
.subpara1{
    text-align: center;
    padding:10px;
}

#btn1{
    border-radius: 5px;
    padding:3px;
    background-color: aquamarine;
}

#link{
    text-align: center;
}

#copy{
    border-radius: 5px;
    padding: 7px;
    background-color: aquamarine;
}

.hide{
    display: none;
}

#final{
    text-align: center;
    margin-top: 10px;
}

a{
    text-align: center;
    text-decoration: none;
    color: rgb(201, 204, 158);
}